# Example AKMBUILD for module rtw89.

# Name of the module.
modname=rtw89

# Version of the module.
modver=5_git20210715

# Space-separated list of paths of the built kernel objects.
built_modules='rtw89core.ko rtw89pci.ko'

# Additional build dependencies (kernel dev package is installed implicitly).
#makedepends=

# A custom build function may be defined. The following is the default_build.
build() {
	touch "$builddir"/Makefile
	make ${MAKEFLAGS:-} -C "$kernel_srcdir" M="$builddir" src="$srcdir" modules
}
